<head>
  <title>horoscope</title>
  </head>
  <body>
  <%= form_with(model: prediction) do |form| %>
    <% if prediction.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

        <ul>
          <% prediction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :date %>
            <br>
      <%= form.date_field :date, value: Date.today, class: "form-control", autocomplete: "on" %>
    </div>

    <div class="form-group">
      <%= form.label :sign %>
            <br>
      <%= form.select :sign, options_for_select(["Belier", "Taureau", "Gemeaux", "Cancer", "Lion", "Vierge", "Balance", "Scorpion", "Sagittaire", "Capricorne", "Verseau", "Poissons"]) %>
    </div>

    <div class="form-group">
      <%= form.label :text_work %>
            <br>
      <%= form.text_area :text_work %>
    </div>

    <div class="form-group">
      <%= form.label :text_love %>
            <br>
      <%= form.text_area :text_love %>
    </div>

    <div class="form-group">
      <%= form.label :text_money %>
            <br>
      <%= form.text_area :text_money %>
    </div>

    <div class="form-group">
      <%= form.submit "Save" %>
    </div>
  <% end %>
  </body>
  