<head>
  <title>Horoscope</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<%= form_with(model: prediction) do |form| %>
  <% if prediction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
        <% prediction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= form_with(model: prediction, class: "form") do |form| %>
      <% if prediction.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

          <ul>
            <% prediction.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :date, class: "form-label", style: "display: block" %>
        <%= form.date_field :date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :sign, class: "form-label", style: "display: block" %>
        <%= form.text_field :sign, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :text_work, class: "form-label", style: "display: block" %>
        <%= form.text_area :text_work, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :text_love, class: "form-label", style: "display: block" %>
        <%= form.text_area :text_love, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :text_money, class: "form-label", style: "display: block" %>
        <%= form.text_area :text_money, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
