<div id="<%= dom_id prediction %>">
  <p>
    <strong>Date:</strong>
    <%= prediction.date %>
  </p>

  <p>
    <strong>Sign:</strong>
    <%= prediction.sign %>
  </p>

  <p>
    <strong>Text work:</strong>
    <%= prediction.text_work %>
  </p>

  <p>
    <strong>Text love:</strong>
    <%= prediction.text_love %>
  </p>

  <p>
    <strong>Text money:</strong>
    <%= prediction.text_money %>
  </p>

</div>
