<html>
  <head>
    <title>horoscope</title>
        <link href="../../app/assets/stylesheets/reset.css" rel="stylesheet">
    <link href="../../app/assets/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
<div id="<%= dom_id prediction %>">
  <p>
    <strong>Date de l'horoscope:</strong>
    <%= prediction.date %>
  </p>

  <p>
    <strong>Signe:</strong>
    <%= prediction.sign %>
  </p>

  <p>
    <strong>Votre travail:</strong>
    <%= prediction.text_work %>
  </p>

  <p>
    <strong>Votre Vie Amoureuse:</strong>
    <%= prediction.text_love %>
  </p>

  <p>
    <strong>Vos finances:</strong>
    <%= prediction.text_money %>
  </p>

</div>
  </body>

