<html>
  <head>
    <title>horoscope</title>
  </head>

<body>
  <div id="<%= dom_id prediction %>">
    <p>
      <p class="nom-categorie">Date de l'horoscope:</p>
      <%= prediction.date %>
    </p>

    <p>
      <p class="nom-categorie">Signe:</p>
      <%= prediction.sign %>
    </p>

    <p>
      <p class="nom-categorie">Votre travail:</p>
      <%= prediction.text_work %>
    </p>

    <p>
      <p class="nom-categorie">Votre Vie Amoureuse:</p>
      <%= prediction.text_love %>
    </p>

    <p>
      <p class="nom-categorie">Vos finances:</p>
      <%= prediction.text_money %>
    </p>

  </div>
</body>

