<!DOCTYPE html>

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <title>Monoroscope</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="circle">
      <a href="?sign=Belier">
        <div id="Belier" class="zodiac">Bélier</div>
      </a>
      <a href="?sign=Taureau">
        <div id="Taureau" class="zodiac">Taureau</div>
      </a>
      <a href="?sign=Gemeaux">
        <div id="Gemeaux" class="zodiac">Gémeaux</div>
      </a>
      <a href="?sign=Cancer">
        <div id="Cancer" class="zodiac">Cancer</div>
      </a>
      <a href="?sign=Lion">
        <div id="Lion" class="zodiac">Lion</div>
      </a>
      <a href="?sign=Vierge">
        <div id="Vierge" class="zodiac">Vierge</div>
      </a>
      <a href="?sign=Balance">
        <div id="Balance" class="zodiac">Balance</div>
      </a>
      <a href="?sign=Scorpion">
        <div id="Scorpion" class="zodiac">Scorpion</div>
      </a>
      <a href="?sign=Sagittaire">
        <div id="Sagittaire" class="zodiac">Sagittaire</div>
      </a>
      <a href="?sign=Capricorne">
        <div id="Capricorne" class="zodiac">Capricorne</div>
      </a>
      <a href="?sign=Verseau">
        <div id="Verseau" class="zodiac">Verseau</div>
      </a>
      <a href="?sign=Poissons">
        <div id="Poissons" class="zodiac">Poissons</div>
      </a>
    </div>

    <div id="horoscope">
      <div id="horoscope-title">
        <h1>Monoroscope</h1>
        <h2>Horoscope d'un jour</h2>
      </div>
      <div id="horoscope-text">
        <h3>Choisissez votre signe astrologique pour voir votre horoscope du jour</h3>
      </div>
    </div>

    <div id="texte-horoscope">
      <%= yield %>
    </div>

 

    <div id="bulle_gauche">
      <%= image_tag "bulle_gauche.png" %>
    </div>

    <footer>
      <div id="footer">
        <p class="footer-p">2024 Monoroscope. Tout droit reservé</p>
      </div>
    </footer>
       <div id="bulle_droite">
      <%= image_tag "bulle_droite.png" %>
    </div>
</html>
