<!DOCTYPE html>

<html>
  <head>
  <link href="../../app/assets/stylesheets/reset.css" rel="stylesheet">
  <link href="../../app/assets/stylesheets/style.scss" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <title>Horoscope</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div id="circle">
      <a href="?sign=Belier">
        <div id="Belier" class="zodiac">Bélier</div>
      </a>
      <a href="?sign=Taureau">
        <div id="Taureau" class="zodiac">Taureau</div>
      </a>
      <a href="?sign=Gemeaux">
        <div id="Gemeaux" class="zodiac">Gémeaux</div>
      </a>
        <a href="?sign=Cancer">
          <div id="Cancer" class="zodiac">Cancer</div>
        </a>
        <a href="?sign=Lion">
          <div id="Lion" class="zodiac">Lion</div>
        </a>
        <a href="?sign=Vierge">
          <div id="Vierge" class="zodiac">Vierge</div>
        </a>
        <a href="?sign=Balance">
          <div id="Balance" class="zodiac">Balance</div>
        </a>
        <a href="?sign=Scorpion">
          <div id="Scorpion" class="zodiac">Scorpion</div>
        </a>
        <a href="?sign=Sagittaire">
          <div id="Sagittaire" class="zodiac">Sagittaire</div>
        </a>
        <a href="?sign=Capricorne">
          <div id="Capricorne" class="zodiac">Capricorne</div>
        </a>
        <a href="?sign=Verseau">
          <div id="Verseau" class="zodiac">Verseau</div>
        </a>
        <a href="?sign=Poissons">
          <div id="Poissons" class="zodiac">Poissons</div>
        </a>
        
    </div>
    <div id="prediction"></div>
    
  </body>
</html>
